<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="style">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">A propos</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><div class="profile-card spacer">
        <div class="header">
          <h2>Augustin Mak</h2><br>
        </div>
        <img src="assets/img/okapi1.jpg"> Svisit
      </div></span>
      <span class="spacer"></span>
      <button mat-flat-button color="primary" (click)="contact()"  >Nous contacter</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content> 
</mat-sidenav-container>
