<div class="search-div">
    <mat-form-field class="example-full-width">
      <mat-label>Recherche</mat-label>
      <input #query matInput type="text" (keyup)="search(query.value)" class="form-control" placeholder="Recherche par province">
    </mat-form-field>
</div>
<div *ngIf="sites">
  <div class="row card-group">
    <div *ngFor="let site of recherchesites" class="col-2 margin"  >
      <mat-card >
        <mat-card-title>{{site.content.nom}}:bien</mat-card-title>
        <mat-card-subtitle>{{site.content.cat}}</mat-card-subtitle>
        <mat-card-content>
          <img src="{{site.content.img}}" width="180" height="180">
        </mat-card-content>
        <mat-card-actions >
          <button  mat-flat-button class="btn btn-primary"(click)="voirDetail(site)">Voir détail</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="!sites">
  <mat-spinner class="center"></mat-spinner>
  <span  class="center">Chargement...</span>
</div>


