<div class="fbg">
    <h1>Nos contacts </h1>
    <div class="row">
     <div class="col-md-6">
        <label><span>Téléphones</span>: </label> 
        <ul>
            <li>+243 90 41 68 454</li>
            <li>+243 90 68 24 054</li>
        </ul>
   
         <label><span>Emails</span>:  </label>
        <ul>
            <li>augumakuma@gmail.com</li>
            <li>mpudimerveil@gmail.com</li>
            <li>sacrendomasi@gmail.com</li>
        </ul> 
     </div>
     <div class="col-md-6">
        <label><span>Nos adresses</span>:  </label>
        <ul>
            <li>Avenue du grand seminaire Kinshasa/Righini</li>
            
        </ul> 
     </div>
    </div>
    

</div>
